::selection {
    background: rgb(242, 196, 0);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

html, body {
    background-color: rgb(242, 196, 0);
    font-family: sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

#posts .post {
    background-color: #fff;
    border-radius: 3px;
}
